<h5><u></u>My Blog</u></h5>


    <% @blogs.each do |blog| %>
    <%if blog.user_id == current_user.id%>
       <p>
           <%=link_to blog.title, blog_path(blog)%></br>
      </p>
      <%end%>
    <% end %>
    
<h5><u></u>Follower blog</u></h5>    
  
  <%  @blgs.each do |blog|%> 
   <p>
           <%=link_to blog.title, blog_path(blog)%></br>
    </p>
  <%end%>
<%#= link_to 'New Blog', new_blog_path %>

