/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/autocomplete
 *= require twitter/bootstrap
 *= require font-awesome
 *= require fancybox
 *= require bootstrap_and_overrides
 *= require bootstrapValidator
 */
 
#main-wrap > div { min-height: 450px; }


#header,
#footer {
    min-height: 40px;
}

/* layout */
#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

/*#main-wrap1 > div {min-height: 450px;}*/

#sidebar {
    float: left;
    width: 10%;
}

#content-wrap {
    float: right;
    width: 90%;
}   
 

 
.leftnav{
     margin-top: 10px;
     padding: 10px;
     text-align: left;
     background-color:#FFCCE0;
}

.cont{
     margin-top: 10px;
     padding: 10px;
     text-align: left;
     background-color: #E6F0FF;
     
}

.box {
        width: 100px;
        height: 100px;
        border-color: CornflowerBlue;
        border-width: 2px;
        border-style: solid;
}

.bck{
    color :blue;
    font-weight: bold;
    background-image: url(images2.jpg);
}