<table>
    <thead>
    <tr>
      <th>User name</th>
    </tr>
  </thead>

  <tbody styel = "display:none;">
    <% @alusers.each do |user| %>
    
      <tr>
        <% if @subexist.map{|a| a.following_id}.include? user.id %>
        <td><%= link_to user.user_name, subscribe_user_employee_path(user)%><i class="fa fa-check"></i></td>
        <% else %>
        <td><%= link_to user.user_name, subscribe_user_employee_path(user)%></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>